:root {
    --back: rgba(0, 0, 0, 1);
    --back2: rgba(255, 255, 255, 0.6);
    --header: rgba(255, 255, 255, 0.3);
    --font: white;
    --font2: black;
    --border: rgba(255, 255, 255, 0.5);
}


table {
    margin: 10px auto;
    border: thin solid var(--border);
    border-collapse: collapse;
    background-color: var(--back);
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: var(--font2);
}

th, td {
    border: 1px solid var(--border); 
    padding: 10px; 
    text-align: center;
}


tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.9);
}

th {
    background-color: var(--back);
    border: none;
}


td {
    background-color: rgba(255, 255, 255, 0.85);
}


thead {
    background-color: var(--back);
    color: var(--font);
  }

