
@media only screen and (min-width: 640px) {

    body {
        background-color: #baefa5;
    }

    nav ul li {
    display: inline;
    margin: 10px 50px;
    border-style: none;
    
    }

    .navigation {
        list-style: none;
        margin: 0 auto;
        background-color: #477933;
    }

    .navigation ul {
        display:flex;
        justify-content: space-around;
        width: 100%;
        background-color: #375e27;
        
    }

   .navigation a {
    display: block;
    padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	transition: none;
	font-size: larger;
   }

    #menu {
        display: none;
    }

    nav li {
        margin: 0;
        padding: 0;
        display: block;
        
        
    }

    .join {
        display: flex;
        justify-content: center;
        margin: 5%;
        font-size: larger;
        font-style: oblique;
        color: #fff;
        text-decoration: none;
        background-color: #477933;
        margin-left:45%;
        margin-right: 45%;
        border-radius: 10px;
    }

    .card {
        display: flex; 
        background-color: #63A549;
        margin: 1rem;
        padding: 15px;
        border-radius: 10px;
        align-items: center; 
    }
    
    .card img {
        width: 40%; 
        border-radius: 10px; 
        margin-right: 1rem; 
    }
    
    .card h3,
    .card p {
        margin: 0; 
        text-align: start;
    }
    
    .card-content {
        width: 60%; 
        padding: 0; 
    }

    /* For the discovery page*/

    #content {
        max-width: 1300px;
        margin: 0 auto;         
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1rem;
        
    }

    #sidebar {
        grid-column: 1;
        
        
    }



    .discover-images {
        grid-column: 2;
    }

    
    /* Styles for JOIN PAGE */

    .form-and-info {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 20px;
    }
    
    .aq1 {
        flex: 1;
        margin-right: 10px;
        max-width: 30%;
    
    }

    .membership-info {
        flex: 2;
        max-width: 30%;
        padding-top: 2.2rem;
    }


    .memberCard {
        padding-bottom: 1rem;
        margin-bottom: 2.5rem;
    }

    .memberCard h3 {
        font-size: 22px;
    }

    .memberCard p {
        text-align: center;
    }

    .memberCard ol {
        text-align: center;
        list-style: none;
        text-decoration: underline;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 100%;
    }

    .aq1 input[type="submit"]{
        width: 30%;
    }

    /* directory page */
    .list {
        display: flex;
        flex-direction: column; 
        padding: 0; 
    }

    .list section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
        gap: 1rem; 
        border-radius: 10px; 
        background-color: #9bcd87;
        padding: 1rem; 
        margin: 1rem 0; 
    }

    .list section p {
        margin: 0;
        padding: 0.5rem; 
        display: inline; 
    }
}






