
@media only screen and (min-width: 640px) {

    body {
        background-color: #baefa5;
    }

    nav ul li {
    display: inline;
    margin: 10px 50px;
    border-style: none;
    
    }

    .navigation {
        list-style: none;
        margin: 0 auto;
        background-color: #477933;
    }

    .navigation ul {
        display:flex;
        justify-content: space-around;
        width: 100%;
        background-color: #375e27;
        
    }

   .navigation a {
    display: block;
    padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	transition: none;
	font-size: larger;
   }

    #menu {
        display: none;
    }

    nav li {
        margin: 0;
        padding: 0;
        display: block;
        
        
    }

    .join {
        display: flex;
        justify-content: center;
        margin: 5%;
        font-size: larger;
        font-style: oblique;
        color: #fff;
        text-decoration: none;
        background-color: #477933;
        margin-left:45%;
        margin-right: 45%;
        border-radius: 10px;
    }

    .card {
        display: flex; 
        background-color: #63A549;
        margin: 1rem;
        padding: 15px;
        border-radius: 10px;
        align-items: center; 
    }
    
    .card img {
        width: 40%; 
        border-radius: 10px; 
        margin-right: 1rem; 
    }
    
    .card h3,
    .card p {
        margin: 0; 
        text-align: start;
    }
    
    .card-content {
        width: 60%; 
        padding: 0; 
    }

    /* For the discovery page*/

    #content {
        max-width: 1300px;
        margin: 0 auto;         
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1rem;
        
    }

    #sidebar {
        grid-column: 1;
        
        
    }



    .discover-images {
        grid-column: 2;
    }

    .discover-images img {
        width: 100%; 
        height: auto; 
        display: block;
        margin-bottom: 1rem; 
        border-style: groove;
        border-color: #63A549;
    }

    

}
    
