@media only screen and (min-width: 640px) {

    html {
        max-width: 900px;  
        margin: 0 auto;         
        box-sizing: border-box;
    }

    .navigation {
        list-style: none;
        margin: 0 auto;
    }

    .navigation ul {
        display:flex;
        justify-content: space-around;
        
    }

   .navigation a {
    display: block;
    padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	transition: none;
	font-size: clamp(1rem, 2vmin, 1.5rem);
   }

    #menu {
        display: none;
    }

    nav li {
        margin: 0;
        padding: 0;
        display: block;
        
        
    }

    main h1 {
        font-size: 32px;
    }

    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 18px;
        align-items: stretch;
        
        
    }

    .parent section {
        box-shadow: 6px 6px 6px black;

    }   

    .card h2 {
        text-align: center;            
        background-color: #415541;      
        color: white;                   
        padding: 1rem;                
        margin: 0;                      
        width: 100%;                
        
    }

    .card p {
        font-size: 16px;
    }
}